@import "tailwindcss";

@layer base {
  button {
    @apply cursor-pointer;
  }
  
  /* إذا كنت تستخدم عناصر input كأزرار */
  input[type="submit"], input[type="button"] {
    @apply cursor-pointer;
  }
}




@layer utilities {
  /* إخفاء شريط التمرير مع بقاء خاصية التمرير تعمل */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* إضافة تنعيم للتمرير عند الضغط على الأقسام */
  html {
    scroll-behavior: smooth;
  }
}

/* تحسين شكل الخطوط العربية */
